.family {
	gap: 20px;

	&__text {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5px;
		img {
			box-shadow: 4px 4px 10px #00000025;
		}
		p {
			font-size: 15px;
			color: #faffc7;
		}
	}
	&__description {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}
