@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

:root {
	--font-family: 'Montserrat Alternates';
}

body {
	font-family: var(--font-family);
}
h1 {
	font-size: 40px;
	font-weight: 700;
	color: #faffc7;
}
h2 {
	font-size: 40px;
	font-weight: 600;
	color: #faffc7;
}
h3 {
	font-size: 16px;
	font-weight: 600;
	color: #faffc7;
}
h4 {
	font-size: 24px;
	font-weight: 700;
	color: #faffc7;
}
a {
	font-size: 20px;
	font-weight: 600;
	color: #ff9ea7;
}
p {
	font-size: 16px;
	font-weight: 600;
	color: #ff9ea7;
}
